# Fichiers ignorés
*.log
**/logs
.cppcheck
/obj/*.o
*.o
**/debug.txt
template_widget.txt
arbre.txt
node_modules/
.claude/
*.html
bin/
config/stats/
*.bak
*.backup*
.kateproject
.clangd
.claudeignore
.mcp.json
REFACTORING_PLAN*
cppcheck
debug.txt
package-lock.json
package.json
PHASE*
MEMORY*
compile_*
.cache
rapports/*
